# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = gxsbzb.settings
[deploy:scrapydone]
url = http://192.168.6.67:6800/
project = gxsbzb